language:
  - go
  - python
notifications:
  email: false
python:
  - "2.7"
go:
  - 1.3
  - 1.4
  - 1.5
install:
  - wget -O snappy-1.1.2.tar.gz -- "https://docs.google.com/uc?authuser=0&id=0B0xs9kK-b5nMOWIxWGJhMXd6aGs&export=download"
  - tar -xf snappy-1.1.2.tar.gz
  - cd snappy-1.1.2 && ./configure && sudo make all install && cd ..
  - git clone https://github.com/nickbruun/akaibu-format.git format
  - cd format
  - pip install -r requirements.txt
  - make samples
  - cd ..
  - mkdir fixtures
  - cp format/samples/*.akaibu fixtures/
  - go get code.google.com/p/snappy-go/snappy
script:
  - make test
